body{
    margin: 0;
    border-radius: 5px;
    background-color: rgb(187, 163, 102);
    font-family:'Courier New', Courier, monospace;
    background-image: url("brp\ brpp.png");
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size:cover ;
    justify-content: center;
    width: 100vw;
}
header img{
    height: 50px;
    justify-content: right;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    font-family:'Courier New', Courier, ;
    font-size: 32px;
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color: rgb(187, 163, 102);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
nav{
    padding: 10px;
}
nav a:hover{
    color: beige;
}
.home{
     font-size: 20px;
    height: 450px;
    padding-top: 100px;

}
.deskripsihome{
    width: 48%;
    margin-left: 50px;
   
    & h1{
        color: rgb(188, 153, 109);
    }
    & h3{
        color: rgb(152, 152, 76);
    }
}
.deskripsihome{
    font-size: 10px;
}
header img.logo{
    width: 400px;
    height: 200px
}
.about{
    height: 400px;
    padding-top: 5px;
    scroll-margin-top: 200px;
    padding-bottom: 100px;
}
.deskripsiabout{
    width: 48%;
    margin-left: 50px;
    & h1{
        color: rgb(188, 153, 109);
    }
    & h3{
        color: rgb(152, 152, 76);
    }
}
.deskripsiabout{
    font-size: 10px;
}
.Deskripsi Gambar{
    margin-left: 500px ;
}
#home{
    width: 500px;
    background-color: aliceblue;
    margin-bottom: 100px;
    border-radius: 20px;
    padding-top: 200px;
    padding-left: 50px;
    margin-left: 100px;

}
#about{
    width: 500px;
    background-color: aliceblue;
    font-size: 22px;
    border-radius: 20px;
    padding-left: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#how-to{
    width: 500px;
    background-color: aliceblue;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 50px;
    scroll-margin-top: 300px;
    margin-left: 100px;
    padding: 50px;
    font-size: 20px;
    
}
.profile {
    display: grid;
    place-items: center;
    padding-top: 250px;
}
.medsos nav a {
    color: black;
    
}
.logo {
  width: 50px;
  height: 50px;

}
.imgprofile{
    width: 50%;
}
.medsos {
    background-color: aliceblue;
    border-radius: 20px;
}
.ThankYou {
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
}
.cardProfile {
    text-align: center;
}
